*{
margin: 1%;
padding: 0;
box-sizing: border-box;
font-size: 1.7rem;
}
html,body{
background-color: rgb(18, 15, 15);

}
.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}
.contenedor-calculadora{
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: #06274b;
    border-radius: 20px;
    border: 5px solid white;
}
.fila{
    display: flex;

}